## Raw Dataset

In [3]:
import pandas as pd
df = pd.read_csv('2021data.csv')

In [4]:
df.head(10)

,DIST_IRN,DIST_NAME,COUNTY,PRESCHOOL,KINDERGARTEN,GRADE_1,GRADE_2,GRADE_3,GRADE_4,GRADE_5,...,STUDENT_ECONDIS,STUDENT_WHITE,STUDENT_BLACK,STUDENT_LATINO,STUDENT_ASIAN,STUDENT_NATIVEAM,STUDENT_NATHAW,STUDENT_MULTI,STUDENT_FEMALE,STUDENT_MALE
0,442,Manchester Local,Adams,28,42,37,44,46,61,76,...,740,737,<10,<10,<10,0,0,<10,354,398
1,43489,Akron City,Summit,442,1398,1682,1591,1521,1557,1576,...,20546,6086,9586,991,1815,<10,19,2040,9929,10617
2,43497,Alliance City,Stark,142,194,198,209,176,188,184,...,2958,2072,333,98,12,<10,<10,436,1397,1561
3,43505,Ashland City,Ashland,101,225,228,230,219,219,248,...,1030,2811,21,76,22,<10,<10,139,1483,1594
4,43513,Ashtabula Area City,Ashtabula,91,188,256,217,225,257,276,...,3143,1905,198,594,<10,<10,<10,438,1516,1627
5,43521,Athens City,Athens,27,139,167,175,176,174,191,...,709,1975,73,57,87,<10,0,105,1136,1163
6,43539,Barberton City,Summit,113,245,248,210,242,233,259,...,2486,2647,523,123,17,10,<10,298,1770,1852
7,43547,Bay Village City,Cuyahoga,26,146,165,193,161,182,162,...,120,2169,21,98,18,0,<10,81,1206,1183
8,43554,Beachwood City,Cuyahoga,40,111,104,101,96,82,102,...,150,833,338,59,311,<10,0,91,821,818
9,43562,Bedford City,Cuyahoga,39,187,202,203,207,191,222,...,1930,196,2393,130,11,<10,<10,181,1387,1527

In [5]:
df.tail(10)

,DIST_IRN,DIST_NAME,COUNTY,PRESCHOOL,KINDERGARTEN,GRADE_1,GRADE_2,GRADE_3,GRADE_4,GRADE_5,...,STUDENT_ECONDIS,STUDENT_WHITE,STUDENT_BLACK,STUDENT_LATINO,STUDENT_ASIAN,STUDENT_NATIVEAM,STUDENT_NATHAW,STUDENT_MULTI,STUDENT_FEMALE,STUDENT_MALE
599,50708,North Baltimore Local,Wood,0,56,56,53,56,48,60,...,265,500,<10,62,0,0,<10,26,278,317
600,50716,Northwood Local Schools,Wood,<10,68,64,62,60,67,83,...,299,710,13,129,10,<10,0,17,431,449
601,50724,Otsego Local,Wood,99,127,130,121,114,114,130,...,262,1438,21,125,<10,<10,0,12,771,834
602,50740,Mohawk Local,Wyandot,68,55,55,74,54,50,75,...,220,859,11,11,<10,0,<10,<10,430,460
603,61903,Adams County Ohio Valley Local,Adams,107,250,236,239,244,254,268,...,1975,3469,<10,37,<10,<10,<10,58,1709,1867
604,64964,College Corner Local,Preble,0,14,<10,14,15,11,<10,...,59,118,<10,0,<10,0,0,<10,68,53
605,65680,Gallia County Local,Gallia,117,161,158,148,179,159,156,...,2111,2010,43,15,<10,<10,0,75,1022,1125
606,69682,East Guernsey Local,Guernsey,75,69,77,76,75,61,80,...,442,989,<10,<10,<10,<10,0,19,503,517
607,91397,Tri-County North Local,Preble,0,43,52,55,68,46,54,...,<10,700,0,15,<10,<10,0,15,360,373
608,139303,Monroe Local,Butler,43,192,209,219,218,196,198,...,696,2108,147,268,74,<10,0,128,1316,1413

In [6]:
df.shape
(609,30)

(609, 30)

* This dataset was found on the website for the Ohio Department of Education: (http://education.ohio.gov/Topics/Data/Frequently-Requested-Data/Enrollment-Data) It has over 30 years worth of data
* This dataset is the 2020 data from all the school districts in Ohio
(https://drive.google.com/file/d/1Dj8CwSm3jhO8rlfwliRjXerF2E7o7OXM/view?usp=sharing)
My project will focus mainly on Akron City Schools

## Tidied Dataset

In [ ]:
import pandas as pd
df = pd.read_csv ('FINALDATASET_CSV_final - FINALDATASET_CSV.csv')

In [8]:
df.head(11)

,DIST_IRN,DIST_NAME,COUNTY,PRESCHOOL,KINDERGARTEN,GRADE_1,GRADE_2,GRADE_3,GRADE_4,GRADE_5,...,STUDENT_ECONDIS,STUDENT_WHITE,STUDENT_BLACK,STUDENT_LATINO,STUDENT_ASIAN,STUDENT_NATIVEAM,STUDENT_NATHAW,STUDENT_MULTI,STUDENT_FEMALE,STUDENT_MALE
0,442,Manchester Local,Adams,28,42,37,44,46,61,76,...,740,737,<10,<10,<10,0,0,<10,354,398
1,43489,Akron City,Summit,442,1398,1682,1591,1521,1557,1576,...,20546,6086,9586,991,1815,<10,19,2040,9929,10617
2,43497,Alliance City,Stark,142,194,198,209,176,188,184,...,2958,2072,333,98,12,<10,<10,436,1397,1561
3,43505,Ashland City,Ashland,101,225,228,230,219,219,248,...,1030,2811,21,76,22,<10,<10,139,1483,1594
4,43513,Ashtabula Area City,Ashtabula,91,188,256,217,225,257,276,...,3143,1905,198,594,<10,<10,<10,438,1516,1627
5,43521,Athens City,Athens,27,139,167,175,176,174,191,...,709,1975,73,57,87,<10,0,105,1136,1163
6,43539,Barberton City,Summit,113,245,248,210,242,233,259,...,2486,2647,523,123,17,10,<10,298,1770,1852
7,43547,Bay Village City,Cuyahoga,26,146,165,193,161,182,162,...,120,2169,21,98,18,0,<10,81,1206,1183
8,43554,Beachwood City,Cuyahoga,40,111,104,101,96,82,102,...,150,833,338,59,311,<10,0,91,821,818
9,43562,Bedford City,Cuyahoga,39,187,202,203,207,191,222,...,1930,196,2393,130,11,<10,<10,181,1387,1527
10,43570,Bellaire Local,Belmont,21,95,90,94,77,88,90,...,554,966,40,21,<10,<10,0,82,510,601

In [9]:
df.tail(11)

,DIST_IRN,DIST_NAME,COUNTY,PRESCHOOL,KINDERGARTEN,GRADE_1,GRADE_2,GRADE_3,GRADE_4,GRADE_5,...,STUDENT_ECONDIS,STUDENT_WHITE,STUDENT_BLACK,STUDENT_LATINO,STUDENT_ASIAN,STUDENT_NATIVEAM,STUDENT_NATHAW,STUDENT_MULTI,STUDENT_FEMALE,STUDENT_MALE
598,50690,Lake Local,Wood,44,123,124,112,116,124,123,...,521,1324,38,164,10,0,<10,59,808,790
599,50708,North Baltimore Local,Wood,0,56,56,53,56,48,60,...,265,500,<10,62,0,0,<10,26,278,317
600,50716,Northwood Local Schools,Wood,<10,68,64,62,60,67,83,...,299,710,13,129,10,<10,0,17,431,449
601,50724,Otsego Local,Wood,99,127,130,121,114,114,130,...,262,1438,21,125,<10,<10,0,12,771,834
602,50740,Mohawk Local,Wyandot,68,55,55,74,54,50,75,...,220,859,11,11,<10,0,<10,<10,430,460
603,61903,Adams County Ohio Valley Local,Adams,107,250,236,239,244,254,268,...,1975,3469,<10,37,<10,<10,<10,58,1709,1867
604,64964,College Corner Local,Preble,0,14,<10,14,15,11,<10,...,59,118,<10,0,<10,0,0,<10,68,53
605,65680,Gallia County Local,Gallia,117,161,158,148,179,159,156,...,2111,2010,43,15,<10,<10,0,75,1022,1125
606,69682,East Guernsey Local,Guernsey,75,69,77,76,75,61,80,...,442,989,<10,<10,<10,<10,0,19,503,517
607,91397,Tri-County North Local,Preble,0,43,52,55,68,46,54,...,<10,700,0,15,<10,<10,0,15,360,373
608,139303,Monroe Local,Butler,43,192,209,219,218,196,198,...,696,2108,147,268,74,<10,0,128,1316,1413

In [10]:
df.shape
(11,30)

(11, 30)

* In order to make a complete usable dataset, I had to look at over ten years worth of data and I had to choose what years to include in the tidied dataset table. I am mainly going to be focusing on enrollment numbers for preschoolers and kindergartners and I will look at various races to see if there is any trends. I took out several different columns, ones that included all of the other grades and others that were not relevant to the story. 


* I already interviewed the Akron City Schools Assitant Superintendent and she gave a lot of valuable insight as to what these numbers mean and we discussed certain trends and patterns that have developed over the years. These numbers show that enrollment numbers usually increase, but they fell dramatically last year, probably due to the pandemic. One of my goals is to explain the reasons for that in my final story.